@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

#project{
    width: 100%;
    position: relative;
    padding: 100px 0;
}
.title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:  50px;
    color: var(--txt-main-color);
}
.title-section span{
    padding: 0 3px;
    color: var(--txt-second-color);
}
.project-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px 20px ;
   
    
    
}
.project-cards .card{
    position: relative;
    width: 380px;
    height: 460px;
    overflow: hidden;
    gap: 20px;
    border-radius: 20px;
    background-color: #FBFBED;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project-cards .card .card-img{
    width: 360px;
    height: 300px;
    overflow: hidden;
    margin:20px auto;
   
}
.project-cards .card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: all 3s ease-in-out;

}
.project-cards .card .card-img:hover img{
    object-position: bottom center;
}
.project-cards .card-content{
    width: 100%; 
    height: 100%;
    margin: 0 auto;
    

}
.project-cards .card-content .card-title{
color: #18171c;
font-size: 20px;
font-weight: 500;
padding: 3px 10px ;
}
.use-skill{
    padding: 0 10px;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    font-family: 'Cairo', sans-serif;

}
.use-skill p{
    font-size: 18px;
}

.use-skill li{
    padding: 0 5px ;
    font-size: 18px;
    font-weight: 400;
}
.use-skill:nth-child(2) span{
    padding:0  ;
}
.button-card{
    display: flex;
    flex-direction: row;
    position:absolute;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
}
.button-card button{
    width: 50%;
    padding: 12px 0;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.752);
    color: var(--txt-second-color);
    border: none;
    outline: none;
    cursor: pointer; 
}
.button-card button:nth-child(2){
    background-color: #18171c;
    color: #fff;
 
}
.button-card button:nth-child(1) a{
    color: var(--txt-second-color);
}
.button-card button:nth-child(2) a{
    color: #fff;
}
.button-card button:nth-child(1){

    border-right: 2px solid #18171c;
    

    
}

@media only screen and (max-width:600px) {
    #project{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }
    .project-cards{
        grid-template-columns: 1fr;
        gap: 50px;
    }
}