#skills{
    
    width: 100%;
    height: auto;
   
    position: relative;
    padding: 80px 0;
}

.skills-content{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.skills-content-left,.skills-content-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.skills-content-left h1{
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0;
    color: #18171c;
    
}

.skills-content-left p {
    width: 80%;
    font-size: 17px;
    height: auto;
    text-indent: 50px;
    position: relative;
    color: #322823;
}
.skills-content-left p::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    left: 0px;
    top: 9px;
    background-color:   #18171c;
}

.skills-content-right{
    display: flex;
    
}

.skills-content-right .title-skills{
    font-size: 28px;
    font-weight: 500;
    padding: 10px 0px 10px 20px;
    margin:10px 0;
}

.skills-content-right .skills-total{
display: grid;
grid-template-columns: repeat(3,1fr);
align-items: center;
}
.skills-content-right .skills-total .icons-skill  {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.skills-content-right .skills-total .icons-skill:hover .icon-skill  {
    transform: translatex(-10px);
}
.skills-content-right .skills-total .icons-skill .icon-skill{
    width: 80px;
    height: 80px;
    background-color: #fff;
    color: var(--txt-second-color);
    padding: 20px 0;
    font-size: 40px;
    margin: 20px 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    
    
}
.skills-content-right .skills-total .icons-skill:nth-child(1) .icon-skill {
    color: #fff;
    background-color: #e64e26;
    
}
.skills-content-right .skills-total .icons-skill:nth-child(2) .icon-skill {
    color: #fff;
    background-color: #0b77b8;
    
}
.skills-content-right .skills-total .icons-skill:nth-child(3) .icon-skill {
    color: #fff;
    background-color: #dbbb2d;
    
}
.skills-content-right .skills-total .icons-skill:nth-child(4) .icon-skill {
    color: #fff;
    background-color: #7811f8;
    
}
.skills-content-right .skills-total .icons-skill:nth-child(5) .icon-skill {
    color: #fff;
    background-color: #c76395;
    
}
.skills-content-right .skills-total .icons-skill:nth-child(6) .icon-skill {
    color: #096879;
    background-color: #d1d3d5;
    
}
.skills-content-right .skills-total .icons-skill .name-icon {
    color: var(--txt-main-color);
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width:600px) {
    .skills-content{
        grid-template-columns: 1fr;
    }
    .skills-content .skills-content-left{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 50%;
        transform: translate(-50%);
        
    }
    .skills-content .skills-content-right  {
        overflow: hidden;
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .skills-content .skills-content-right  .title-skills{
        width: 100%;
        padding:0;
        align-items: flex-start;
    }
   
    .skills-content .skills-content-right  .skills-total{
        width: 100%;
       grid-template-columns: repeat(2,1fr);
    }
    .skills-content .skills-content-right  .skills-total .icons-skill .icon-skill{
        width: 60px;
        height: 60px;
        font-size: 25px;
      

    }
    .skills-content .skills-content-right  .skills-total .icons-skill .name-icon{
     font-size: 20px;
    }
   
    
}
