.navbar{
   
    width:100% ;
    height: 70px;
}

.navbar__Container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:26px 0;
}
.logo{
    padding: 0 30px;
    font-size: 30px;
    letter-spacing: 0.2rem;
}
.logo span{
    color: var(--txt-second-color);
}
.navbar__Container .nav__link {
    width: 100%;
    text-align: center;
    margin-top: 10px;

}
.navbar__Container .nav__link ul li {
    display: inline-block;
    padding: 0 25px;
}
.navbar__Container .nav__link ul li a{
    letter-spacing: 0.2rem;
    color: var(--txt-main-color);
}
.navbar__Container .nav__link ul li:hover a{
    letter-spacing: 0.2rem;
    color: var(--txt-second-color);
}
 .i{
    display: none;
    font-size: 30px;
    padding: 0 30px;
}
.nav__link-sm{
    display: none;
}

@media only screen and (max-width : 600px) {
    .nav__link{
        display: none;
    }
    .logo{
        z-index: 3;
    }
    .i{
        display: block;
        position: absolute;
        right: 0;
        z-index: 3;
    }
    .nav__link-sm{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(236, 234, 234);
        transition: top 10s ease;
        z-index: 2;
    }
    .nav__link-sm ul{
        height: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .nav__link-sm ul li{
        padding: 10px 0;
    }
    .nav__link-sm ul li a{
        font-size: 25px;
        color: var(--txt-main-color);
    }
    .nav__link-sm ul li:hover a{
        color: var(--txt-second-color);

    }
    .active-nav{
        display: block;
       
    }
    
}