@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

#about{
    height: calc(100vh - 90px);
    width: 100%;
    position: relative;
}
.about-content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   
}
.about-content small{
    font-size: 13px;
    font-weight: 400;
    color: #010101;

}
.about-content h1 {
    font-size: 35px;
    line-height: 3.2rem;
    font-weight: 900;
    color: var(  --txt-main-color);
    letter-spacing: 0.1rem;
    margin: 10px 0 15px 0;
}
.about-content h1 span {
    color: var(--txt-second-color);

}
.about-content p {
    line-height: 1.5rem;
    font-size: 16px;
    color: var(--txt-prg);
    font-weight: 500;
    margin-bottom: 25px;
    font-family: 'IBM Plex Sans', sans-serif;

}




@media only screen and (max-width:600px) {
    .about-content{
        width: 80%;
    }

    .about-content h1 {
        font-size: 25px;
        line-height: normal;
    
    }

    
}