#contact{
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 0;
    
}
.title-contant{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
   
}
.title-contant p {
    width: 60%;
}
.contact-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 40px 0;
} 
.contact-content .card-contact {
    display: flex;
align-items:center;
justify-content: center;
flex-direction: column;
}
.contact-content .card-contact .icon-contact {
font-size: 40px;
padding: 20px 0;

}
.contact-content .card-contact .name-contact {
    color: #979696;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0 0 20px 0;
}
